
@import url("vars.css");

*{
    font-family: var(--fontRegular);
    margin: 0;
    padding: 0;
}


/*login a signup blbiny*/
.ErrorDis{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    min-height: 45px;
    color: rgba(192, 17, 17);
    margin: 5px;
}
.ErrorDis p{
    font-size: 18px;

}
.ErrorDis h2{
    font-size: 26px;
    font-weight: 700;
    margin: 3px;
    margin-top: 5px;
}

/*header sidebar styly*/

#header {
    color: #4F4F4F;
    display: flex;
    background-color: #F6F6F6;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25%;
    padding-left: 1%;
    padding-right: 3%;
    width: 96%;
}
#HeaderAndSidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
#HeaderLeft, #HeaderRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
#logo {
    background-color: #ffffff;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px black solid;
    color: black;
    margin-right: 8%;
    cursor: pointer;
}
#LocationName {
    border-left: #707070 2px solid;
    font-size: 21px;
    padding: 2%;
    padding-left: 8%;
    padding-right: 0;
    width: 230px;
}
.HeaderSmallBox {
    background-color: white;
    padding: 14px;
    border-radius: 6px;
    border: 3px solid #707070;
    margin-right: 15px;
    cursor: pointer;
}
#HeaderSettings {
    margin-right: 25px;
}
#HeaderWall {
    border-left: #707070 2px solid;
    height: 81px;
}
#UserIcon {
    margin-left: 25px;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #707070;
    background-color: white;
    cursor: pointer;
}
#Sidebar {
    font-weight: 300;
    padding-left: 18px;
    padding-top: 15px;
    background-color: #F6F6F6;
    border: solid 1px #E3E3E3;
    height: 100%;
    width: 65px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.5s ease-in-out;
}
#Content {
    margin-left: 80px;
    margin-top: 96px;
}
.SidebarIcon {
    background-color: white;
    border: #707070 solid 3px;
    padding: 20px;
    width: 0;
    border-radius: 10px;
    background-size: 100% 100%;
}
#Sidebar a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #848484;
    transition: width 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
#Sidebar a:last-child {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}
#Sidebar:hover {
    width: 200px;
}
#Sidebar:hover a {
    width: 80%;
}
#Sidebar a:hover{
    background-color: #e8e8e8;
}
.IconText {
    display: none;
    transition: width 0.5s ease-in-out;
    margin: 0;
    margin-left: 10px;
}
#Sidebar:hover .IconText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #4F4F4F;
    text-decoration: none;
}

#SidebarHome{
    background-image: url(../img/icons/home.png);
}

#SidebarNewForm{
    background-image: url(../img/icons/newForm.png);
}

#SidebarImport{
    background-image: url(../img/icons/import.png);
}

#SidebarAbout{
    background-image: url(../img/icons/about.png);
}

#SidebarQA{
    background-image: url(../img/icons/help.png);
}

