
@import url("vars.css");

*{
    font-family: var(--fontRegular);
    margin: 0;
    padding: 0;
}


/*login a signup blbiny*/
.ErrorDis{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    min-height: 25px;
    color: var(--red);
}
.ErrorDis p{
    font-size: 18px;
}
.ErrorDis h2{
    font-size: 26px;
    font-weight: 700;
    margin: 3px;
    margin-top: 12px;
}
input:focus{
    outline: none;
}
/*header sidebar styly*/

#header {
    color: var(--gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25%;
    padding-left: 1%;
    padding-right: 3%;
    width: 96%;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow); 
    height: 100px;
    background-color: white;
    pointer-events: all;
}
#HeaderAndSidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 1000;
}
#HeaderLeft, #HeaderRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

h1{
    font-weight: 400;
    font-size: 30px;
}

#logo {
    background-color: #ffffff;
    color: black;
    margin-right: 8%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#LocationName {
    border-left: #707070 2px solid;
    font-size: 21px;
    padding: 2%;
    padding-left: 8%;
    padding-right: 0;
    width: 230px;
}
.HeaderSmallBox {
    background-color: white;
    padding: 14px;
    border-radius: 6px;
    border: 3px solid #707070;
    margin-right: 15px;
    cursor: pointer;
}
#HeaderSettings {
    margin-right: 25px;
}
#HeaderWall {
    border-left: #707070 2px solid;
    height: 81px;
}

.userIconDiv{
    box-shadow: var(--dark-shadow);
    margin-left: 25px;
    margin-right: 30px;
    border-radius: 50%;
    display: flex;
}


.UserIcon {
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.UserIcon:hover{
    border: 1px solid var(--gray);
}
.hov{
    border: 1px solid var(--gray);
}
#Sidebar {
    font-weight: 300;
    padding-left: 18px;
    padding-top: 15px;
    padding-right: 15px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.4s ease-in-out;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow); 
    width: 40px;
    background-color: white;
    pointer-events: all;
}

.sidebarIn{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Content {
    margin-left: 80px;
    margin-top: 96px;
}

#content {
    margin-left: 80px;
    margin-top: 96px;
}
.SidebarIcon {
    padding: 20px;
    width: 0;
    border-radius: 10px;
    background-size: 95% 95%;
    transition: 500ms;
    background-position: center;
}
#Sidebar a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #848484;
    transition: width 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: 300ms;
}
#Sidebar a:last-child {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}
#Sidebar:hover {
    width: 200px;
}
#Sidebar:hover a {
    width: 80%;
}
#Sidebar a:hover{
    /*background-color: #e8e8e8;*/
    font-size: 20px;
}

#Sidebar a:hover .SidebarIcon{
    /*background-color: #e8e8e8;*/
    font-size: 20px;
    background-size: 105% 105%;
}

.IconText {
    /*display: none;*/
    transition: width 0.5s ease-in-out;
    margin: 0;
    margin-left: 10px;
    font-family: var(--fontSpecial);
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    color: var(--gray);
    text-decoration: none;
}

#SidebarHome{
    background-image: url(../img/icons/home.svg);
}

#Sidebar a:hover #SidebarHome{
    background-image: url(../img/icons/home-blue.svg);
}

#SidebarNewForm{
    background-image: url(../img/icons/plus.svg);
}

#Sidebar a:hover #SidebarNewForm{
    background-image: url(../img/icons/plus-blue.svg);
}

#SidebarImport{
    background-image: url(../img/icons/import.svg);
}

#Sidebar a:hover #SidebarImport{
    background-image: url(../img/icons/import-blue.svg);
}

#SidebarAbout{
    background-image: url(../img/icons/info.svg);
}

#Sidebar a:hover #SidebarAbout{
    background-image: url(../img/icons/info-blue.svg);
}

#SidebarQA{
    background-image: url(../img/icons/FAQ.svg);
}

#Sidebar a:hover #SidebarQA{
    background-image: url(../img/icons/FAQ-blue.svg);
}

#PageSpecific{
    margin-left: 80px;
}
/* Profile onlick styly*/

#backgroundOverlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1001;
}
    
.hidden{
display: none;
}

.preview-container{
    width: 180px;
    min-height: 120px;
    z-index: 1001;
    position: relative;
    text-align: center;
    border-radius: 12px; 
    margin-top: 110px;
    display: flex;
    background-color: white;
    flex-flow: column wrap;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow); 
}
#Arrow{
    width: 30px;
    height: 20px;
    align-self: center;
    background-color: white;
    clip-path: polygon(50% 69%, 0 0, 100% 0);
    position: absolute;
    top: -15px;
    transform: rotate(180deg);
}

#close{
    z-index: 100;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    color: white;
    display: flex;
    height: 24px;
    /* margin: 5px; */
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 0px 8px;
    /* margin-right: 8px;*/
}
#close p{
margin-top: -2px;
}
#backWrap{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    height: 25px;
}
#profile{
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    margin-top: -10px;

}
#profile img{
 width: 50px;
 height: 50px;
 object-fit: cover;
 border-radius: 50%;
 background-color: white;
 padding-bottom: 5px;
 
}
#links{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    align-self: center;
    border-top: 1px solid  rgb(227, 226, 224);
    padding-top: 5px;
    padding-bottom: 5px;

}
.settingsIcon , .logout{
    font-size: 38px;
}
.settingsIcon{
    color: var(--gray);
}
.logout{
    color: var(--red);
}

#logo img{
    width: 100%;
    height: 100%;
}
#userEmail{
    font-size: 20px;
    font-weight: 300;
    color: var(--gray);
}
#userNames{
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--gray);
    opacity: 0.75;
    font-size: 16px;
}