@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

:root{
    --blue: #04B9E8;
    --blueRGB: 4, 185, 232;
    --red: #F16566;
    --redRGB: 241, 101, 102;
    --gray: #3C3C3B;
    --light-gray: #ababab;
    --darkBG: #121212;
    --gray-line: #e7e7e7;
    --fontRegular: 'Inter Tight', sans-serif;
    --fontSpecial: 'Gabarito', sans-serif;    
    --shadow: 0px 0px 100px 0px rgba(137, 137, 137, 0.3);
    --dark-shadow: 0px 0px 100px 10px rgba(137, 137, 137, 0.5);
    --radius: 20px;
}